{% extends "auth_base.html" %}

{% block title %}
Set New Password
{% endblock %}

{% block extra_css %}

{% endblock %}

{% block content %}

<div class="reset-wrapper">

    <img
        src="https://cdn-icons-png.flaticon.com/512/3064/3064197.png"
        class="reset-icon"
        alt="Reset Password"
    >

    <h2 class="reset-title">
        Set New Password
    </h2>

    <p class="reset-subtitle">
        Create a strong password to secure your account
    </p>

</div>

<form method="POST">

    {% csrf_token %}

    {% for field in form %}

        <div class="mb-3">

            <label class="form-label">
                {{ field.label }}
            </label>

            <input
                type="{{ field.field.widget.input_type }}"
                name="{{ field.name }}"
                class="form-control"
                required
                id="{{ field.id_for_label }}"
            >

            {% if field.help_text %}
                <small class="helptext">
                    {{ field.help_text|safe }}
                </small>
            {% endif %}

            {% for error in field.errors %}
                <div class="errorlist">
                    {{ error }}
                </div>
            {% endfor %}

        </div>

    {% endfor %}

    <button type="submit" class="btn-reset mt-3">

        <i class="fa-solid fa-lock me-2"></i>

        Reset Password

    </button>

</form>

<div class="footer-link">

    Remember your password?

    <a href="/admin">
        Login
    </a>

</div>

{% endblock %}